[run]
omit =
    **fastest/bodies**
    **fastest/compiler**
    **fastest/io**
    **fastest/__main__.py
    **fastest/code_assets/keywords.py
    **fastest/constants.py
    **fastest/bodies/f.py
    **fastest/code_assets/naive_case_detector.py
    **logger**
